body {
  font-family: "Montserrat", sans-serif;

  background-color: #f5f7fa;
}

.main-box {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
}
/* main-contant box */
.main-content {
  display: flex;
  flex-direction: column;
  padding: 100px 90px;
}

.about-me-prof {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.about-me-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
}

.about-me-descrition {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 500px;
  margin-bottom: 40px;
}

.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.my-projects-list {
  padding: 0 0 0 17px;
  font-weight: 700;
  margin-bottom: 50px;
}

.projects-item {
  color: #000;
}

.my-projects-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.braket {
  font-weight: 700;
}

.organization {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.edu-organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.speciality {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.my-experience-date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.divider {
  color: #000;
}

.my-duties {
  padding-left: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.company_centre {
  padding: 10px 0 10px 0;
}

.my-education-box {
  padding-top: 40px;
}

/* sidebar box */
.sade-bar-box {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0px;
}

.contacts,
.tech-skills,
.soft-skills {
  margin: 50px 0 0 40px;
}

.sidbar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}

.contact_type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 5px;
}
.contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}

.skills-list {
  padding: 0 0 0 17px;
}

.skills-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
}

.skills-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
